@media (max-width: 991px) {
    ul.top_bar_list-item {
        padding-top: 5px;
    }

    #header {
        top: 40px;
        padding: 16px 0px;
    }

    .header_logo {max-width: 225px;}

    .mobile-nav-toggle {
        margin-top: 25px;
    }

    .banner {
        margin-top: 108px;
        padding-top: 50px;
    }

    .banner h2 {
        line-height: 42px;
    }

    .banner button {
        margin-top: 30px;
    }

    .banner_cloud {
        margin-top: 50px;
    }

    h1 {
        font-size: 3.0625rem;
    }

    h2 {
        font-size: 2.5rem;
        line-height: 40px;
    }

    p {
        padding: 0 0 15px 0;
    }

    .about_us {
        padding-bottom: 40px;
    }

    .about_us h2 {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    .about_us-img {
        padding-bottom: 30px;
    }

    .services {
        padding-bottom: 55px;
    }

    .services h2 {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    .services .panel h3 {
        padding-bottom: 15px;
    }

    .services .panel {
        min-height: auto;
        margin-bottom: 15px;
    }

    .services .panel.no_padding {
        margin-bottom: 0;
    }

    .why_us {
        padding-bottom: 55px;
    }

    .why_us h2 {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    .why_us h3 {
        padding-bottom: 15px;
    }

    .why_us .row_pt {
        padding-top: 0;
    }

    .why_us .media_pt {
        padding-top: 30px;
    }
    
    .contact {
        padding-bottom: 55px;
    }

    .contact h2 {
        padding-top: 55px;
        padding-bottom: 30px;
    }

    .contact .media_pt {
        padding-top: 30px;
    }

    .footer ul {
        margin-top: 10px;
        float: none;
    }

    .footer ul li a {
        margin: 0 15px 0 0;
    }
}

@media (max-width: 447px) {
    #topbar {
        height: 62px;
    }

    ul.top_bar_list-item li {
        display: block;
        float: left;
        line-height: 25px;
    }

    #header {
        top: 62px;
    }

    .media_display-no {
        display: none;
    }

    .banner {
        margin-top: 138px;
    }
}